<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Últimas tarefas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
          {% for task in tasks %}
              <li class="{% cycle '' 'timeline-inverted' %}">
                <div class="timeline-badge primary"><i class="fa fa-tasks"></i>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-title">{{ task.name }}</h4>
                          <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ task.start_date }}</small>
                          </p>
                      </div>
                      <div class="timeline-body">
                          <p>{{ task.description|truncatechars:250 }}</p>
                      </div>
                      <hr>
                      <a href="{% url 'view_task' task.id %}" class="btn btn-primary">Editar <span class="glyphicon glyphicon-search"></a>
                  </div>
              </li>
          {% endfor %}
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
